services:
  mongodb:
    extends:
      file: ../docker/api.docker-compose.base.yml
      service: mongodb
    container_name: mongodb-player-local
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
